* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     box-sizing: border-box;
     outline: none;
     transition: all 0.3s ease 0s;
}

html {
      font-size: 62.5%;
      font-weight: normal;
}

body    {
    margin: 0;
}

header {
      background-image: url('../img/NamibDesertOcean.jpg');
      background-position: 40% 32%;
	  background-size: cover;
	  height: 390px;
	  color: white;
      padding: 15px 75px;
      padding: 0;
      text-align: center;
}

header>.barreTitre>a {
      font-size: 4rem;
      font-family: 'Homemade Apple', cursive;
}

.barreTitre {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: space-around;
    /*padding: 0 15px;*/
}

header a,
nav a {
    text-decoration: none;
    color: white;
}

nav {
      margin-top: 15px;
      /*margin: 15px 0 0 700px;*/
}

nav a {
      margin: 0 12px;
      font-size: 2rem;          
}  
